/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorM {
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/5.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.color-fondo {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0 59 115 / 89%);
    padding: 40px 0; /* Espacio alrededor de la sección */
}

/* Contenedor principal */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título y subtítulo */
.contact-info {
    text-align: center;
    margin-bottom: 30px;
}

.contact-info h2 {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.subtitulo {
    color: yellow;
    font-size: 20px;
    margin-top: 10px;
}

/* Sección de contacto y formulario */
.contact-section {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 50px;
} 

/* Información de contacto */
.contact-info-left {
    flex: 1;
    font-size: 18px;
    color: white;
    
}

/* Formulario */
.formulario-container {
    flex: 1;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Ajustes de los inputs */
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

textarea {
    height: 100px;
}

input::placeholder, 
textarea::placeholder {
    color: #888;
    font-size: 19px;
}

/* Botón personalizado */
.custom-button {
    padding: 14px;
    font-size: 18px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: solid aqua 1px;
}

.custom-button:hover {
    background-color: white;
}

.custom-button a {
    text-decoration: none;
    color: inherit;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 992px) {
    .contact-section {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        align-items: center;
    }
    
    .contact-info-left,
    .formulario-container {
        width: 100%; /* Ocupar todo el ancho en pantallas pequeñas */
    }
    
    .contact-info h2 {
        font-size: 24px;
    }
    
    .subtitulo {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .contact-info h2 {
        font-size: 20px;
    }
    
    .subtitulo {
        font-size: 16px;
    }
    
    .custom-button {
        padding: 12px;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 10px;
    }
    
    .contact-info h2 {
        font-size: 18px;
    }
    
    .subtitulo {
        font-size: 14px;
    }
    
    .custom-button {
        padding: 10px;
        font-size: 14px;
    }
}
