/* Restablece márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.contenedorM {
    width: 100%;
    min-height: 100vh; /* Asegura que el contenedor siempre tenga al menos el 100% de la altura de la ventana */
    background-image: url("../img/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px; /* Añade espacio superior e inferior */
}

/* Columnas responsivas */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-lg-6,
.col-12 {
    flex: 1 1 50%; /* Hace que ambas columnas ocupen el 50% del espacio en pantallas grandes */
    padding: 20px; /* Añade espacio alrededor de cada columna */
}

/* En pantallas pequeñas, ambas columnas ocuparán el 100% */
@media (max-width: 991px) {
    .col-lg-6,
    .col-12 {
        flex: 1 1 100%;
    }
}

/* Estilos del texto */
.texto-encima {
    text-align: center;
}

/* Título principal */
.titulo-principal {
    font-size: 48px;
    font-weight: bold;
    color: yellow;
    margin-bottom: 20px;
}

/* Subtítulo */
.subtitulo {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

/* Descripción */
.descripcion {
    font-size: 24px;
    color: white;
}

/* Imagen */
.Poliglot {
    width: 90%;
    height: auto;
    animation: moveSideToSide 8s infinite ease-in-out;
}

@keyframes moveSideToSide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Botón personalizado */
.custom-button {
    padding: 16px 50px;
    font-size: 20px;
    background-color: #fcdc5c;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    animation: pulse 2s infinite ease-in-out;
    margin-top: 20px;
}

.custom-button:hover {
    background-color: white;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
