body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco con opacidad */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

.regresar-btn {
    display: inline-block;
    background-color: #007BFF; /* Color de fondo azul */
    color: white; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Eliminar subrayado */
    border-radius: 5px; /* Bordes redondeados */
    margin: 20px 0; /* Espaciado superior e inferior */
    transition: background-color 0.3s ease; /* Transición suave */
}

.regresar-btn:hover {
    background-color: darkblue; /* Color de fondo más oscuro al pasar el mouse */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Ajustes para la imagen */
.imglogo {
    max-width: 100px; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 20px; /* Ajusta el margen superior */
    margin-left: auto; /* Mueve la imagen más a la derecha */
    margin-right: auto; /* Centra la imagen horizontalmente */
    border: none; /* Elimina el borde verde */
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.imglogo:hover {
    transform: scale(.95);
}