/* Estilo de cajas de lecciones mejorado */


/* Estilos generales */
body {
    background-color: #1e1b7e;
    margin: 0; /* Elimina el margen del cuerpo */
    padding: 0 0 50px 0; /* Elimina el padding del cuerpo */

}

/* Estilos del menú vertical */
.vertical-menu {
    width: 200px; /* Ancho del menú */
    height: 100vh; /* Altura completa de la ventana */
    display: flex;
    flex-direction: column; /* Hace el menú vertical */
    align-items: center; /* Centra los elementos horizontalmente */
    margin: 0; /* Elimina el margen */
    float: left; /* Hace que el menú se alinee a la izquierda */
    background-color: #fc3434; /* Fondo del menú */
    position: fixed; /* Fija la franja roja en la parte superior */
    top: 0; /* Asegura que esté en la parte superior */
    z-index: 2; /* Asegura que esté por encima de otros elementos */
}

.vertical-menu .A2{
    background-color: #4CAF50; 
    color: black; 
    padding: 15px; 
    text-align: center;
    text-decoration: none;
    display: block; 
    margin-bottom: 10px; 
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #fcdc5c;
}

/* Ajustes para la imagen */
.imglogo {
    max-width: 100px; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 20px; /* Ajusta el margen superior */
    margin-left: auto; /* Mueve la imagen más a la derecha */
    margin-right: auto; /* Centra la imagen horizontalmente */
    border: none; /* Elimina el borde verde */
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}
.imglogo:hover {
    transform: scale(.95);
}

/* Estilos del cabecera */
#cabecera {
    background-color: #fcdc5c;
    width: 100%; /* Extiende la franja amarilla a toda la página */
    height: 100px;
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el padding */
    position: fixed; /* Fija la franja amarilla en la parte superior */
    top: 0; /* Asegura que esté en la parte superior */
    z-index: 1; /* Asegura que esté por encima de otros elementos */
    display: flex; /* Usa flexbox para centrar el contenido */
    justify-content: flex-end; /* Mueve el contenido a la derecha */
    align-items: center; /* Centra verticalmente */
}

/* Ajustes para el logo de la cabecera LinguaLeap */
.logo {
    max-height: 80px; /* Ajusta la altura máxima del logo */
    margin-right: 30%; /* Ajusta el margen derecho */
}

/* Ajustes para el contenido principal */
.container {
    margin-left: 200px; /* Deja espacio para el menú vertical */
    padding-top: 120px; /* Añade espacio para la franja amarilla fija */
}





/* Imagenes y contenido */

.imagen:hover{
    transform: scale(.95);
}
.imagen{
    width: 200px;
    height: 200px;
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 10px;
}

.portfolio1{
    width: 200px;
    font-size: 25px;
    margin: auto;
    background-color: #2f5eb0;
}

.portfolio2{
    width: 200px;
    margin: auto;
    font-family: italic;
    font-style: italic;
    background-color: rgb(188, 44, 44);
}