/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.container {  
    background-image: url("../img/4.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 50px); /* Restar la altura del navbar */
    display: flex; /* Para centrar el botón */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.custom-button1 {
    position: absolute; /* Posiciona el botón de manera absoluta dentro del contenedor */
    top: 535px; /* Ajusta según dónde quieras colocar el botón (50% desde la parte superior) */
    left: 225px; /* Ajusta según dónde quieras colocar el botón (50% desde la parte izquierda) */
    transform: translate(-50%, -50%); /* Para centrar exactamente el botón */
    padding: 14px 45px;
    font-size: 18px;
    background-color: yellow; /* Color del botón */
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    animation: pulse 2s infinite ease-in-out; /* Animación suave y continua */
}

.custom-button2 {
    position: absolute; /* Posiciona el botón de manera absoluta dentro del contenedor */
    top: 600px; /* Ajusta según dónde quieras colocar el botón (50% desde la parte superior) */
    left: 250px; /* Ajusta según dónde quieras colocar el botón (50% desde la parte izquierda) */
    transform: translate(-50%, -50%); /* Para centrar exactamente el botón */
    padding: 14px 45px;
    font-size: 18px;
    background-color:  #ac2c4c; /* Color del botón */
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    animation: pulse 2s infinite ease-in-out; /* Animación suave y continua */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.custom-button1 a{
    text-decoration: none;
    color: inherit;
}

.custom-button2 a{
    text-decoration: none;
    color: inherit;
}

.custom-button1:hover {
    background-color: white;
}

.custom-button2:hover {
    background-color: white;
}

.custom-video {
    position: absolute; /* Cambia a 'relative' si prefieres que esté en el flujo del documento */
    top: 320px; /* Ajusta según donde quieras posicionarlo */
    left: 570px; /* Ajusta según donde quieras posicionarlo */
    width: 600px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantiene la proporción del video */
    border-radius: 10px; /* Para bordes redondeados (opcional) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra (opcional) */
}