#sidebar-wrapper {
    width: 250px;
}

#sidebar-wrapper .sidebar-heading img {
    max-width: 100%;
}

.list-group-item {
    color: #333;
    font-weight: bold;
}


/* Estilo de la navbar */

.navbar {
    background-color: #EAEAEA;
}

.navbar-nav .btn {
    color: #333131;
    font-weight: bold;
}


/* Botones de navegación */

.navbar-nav .btn-dark {
    background-color: #b8b8e3;
    border-color: #6A6AD4;
    display: inline;
    border: 100px;
}

.navbar-nav .btn-dark:hover {
    background-color: #7878b0;
}


/* Sección del perfil */

.card {
    background-color: #fff;
    border-radius: 10px;
}

.card-body img {
    border: 2px solid #EAEAEA;
}

.btn-primary {
    background-color: #6A6AD4;
    border-color: #6A6AD4;
}

.btn-primary:hover {
    background-color: #5757BD;
}


/* Sección de Avatares */

.card-body img {
    border: 2px solid #EAEAEA;
}


/* Botón de Log Out */

footer .btn {
    background-color: #aa7fc2;
}